<launch>

    <arg name="pi"	default="3.141592"/>
    <arg name="pi/2"	default="1.57"/>

    <arg name="resolution_octomap" default="0.05"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="ground_broadcaster" args="0 0 0.40 0 0 0 ground camera_init"/> 
    <node pkg="tf2_ros" type="static_transform_publisher" name="mapping_base_link_aft" args="0 0 -0.4 0 0 0 aft_mapped arco/base_link" required="true"/>    
    <node pkg="tf2_ros" type="static_transform_publisher" name="mapping_ground" args="0 0 0 0 0 0 ground map"/>     
    
    <include file="$(find marsupial_optimizer)/launch//simulation/aloam.launch"/>

    <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
        args="10 marsupial_optimizer octomap_server_mapping_loam.launch resolution:=$(arg resolution_octomap)"
        name="octomap_servers" output="screen">
    </node>

</launch>