<launch>

  <arg name="robot_name" default="arco"/>

  <group ns="$(arg robot_name)">
    <node pkg="arco_path_tracker" type="nav_node_2" name="nav_node_2">
      <rosparam command="load" file="$(find marsupial_optimizer)/cfg/arco_navigation.yaml"/>
      <remap from="/cmd_vel" to="idmind_motors/set_velocities"/>
      <remap from="/scanMulti" to="scan"/>
      <remap from="/local_planner_node/local_path" to="local_planner_node/local_path"/>
      <remap from="/custom_costmap_node/check_env" to="custom_costmap_node/check_env"/>
      <remap from="/Execute_Mission/feedback" to="Execute_Mission/feedback"/>
      <remap from="/Navigation" to="Navigation"/>
      <param name="robot_base_frame" value="$(arg robot_name)/base_link"/>
    </node>
  </group>

</launch>