<launch>
    <arg name="map" default="arco_test.bt"/>
    <arg name="map_path" default="$(find marsupial_optimizer)/maps/arco/"/>
    <arg name="robot_name" default="arco"/>


    <arg name="base_frame_id" default="base_link"/>
    <arg name="odom_frame_id" default="odom"/>
    <arg name="global_frame_id" default="map"/>

    # initial position
    <arg name="initial_x" default="0"/>
    <arg name="initial_y" default="0"/>
    <arg name="initial_z" default="0"/>
    <arg name="initial_a" default="0.18"/> 

    <node pkg="tf2_ros" type="static_transform_publisher" name="odom_base" args="0 0 0 0 0 0 odom arco/base_link"/>     

  
    # Odom to TF
    <node pkg="odom_to_tf" type="odom_to_tf.py" name="odom_to_tf">
        <remap from="imu" to="arco/imu"/>
        <remap from="odom" to="/laser_odom_to_init"/>
        <param name="laser_frame" value="arco/base_link"/>
        <param name="rotate_90" value="false"/>
    </node>

    # Launch DLL
    <node name="dll_node" type="dll_node" pkg="dll" output="screen">
        <remap from="/dll_node/initial_pose" to="/initialpose"/>
        <param name="in_cloud" value="/arco/os1_cloud_node/points" />
        <param name="base_frame_id" value="arco/base_link" />
        <param name="odom_frame_id" value="$(arg odom_frame_id)" />
        <param name="global_frame_id" value="$(arg global_frame_id)" />

        <param name="rate" value="10.0" />
        <param name="map_path" value="$(arg map_path)$(arg map)" />
        <param name="sensor_dev" value="0.02" />   
        <param name="publish_point_cloud" value="true" />    
        <param name="update_min_d" value="0.1" />
        <param name="update_min_a" value="0.1" />
        <param name="initial_x"   value="$(arg initial_x)"/>
        <param name="initial_y"   value="$(arg initial_y)"/>
        <param name="initial_z"   value="$(arg initial_z)"/>
        <param name="initial_a"   value="$(arg initial_a)"/>
        <param name="lidar_width" value="1024" />
        <param name="lidar_height" value="16" />
        <param name="lidar_fov" value="0.7854" />
        <param name="m_lidar_fov_down" value="0.3927" />
        <param name="use_imu" value="false" />
    </node>
</launch>