<launch>
    <node pkg="matrice_traj_tracker" type="fake_traj_tracker_node" name="matrice_traj_tracker_node" output="screen">
    <!-- node parameters -->
    <param name="takeoff_height" type="double" value="3.0"/>
    <param name="max_vx" type="double" value="2.0"/>
    <param name="max_vy" type="double" value="2.0"/>
    <param name="max_vz" type="double" value="1.0"/>
    <param name="max_ry" type="double" value="0.5"/>
    <param name="min_vx" type="double" value="0.2"/>
    <param name="min_vy" type="double" value="0.2"/>
    <param name="min_vz" type="double" value="0.2"/>
    <param name="min_ry" type="double" value="0.2"/>
    <param name="watchdog_freq" type="double" value="7.0"/>
    <param name="testing" value="false" />
    </node>

</launch>