<launch>
    <arg name="frame_id" default="ground"/>
    <arg name="base_frame_id" default="arco/base_link"/>
    
    <arg name="height_map" default="true"/>
    <arg name="sensor_model/max_range" default="40"/>
    <arg name="latch" default="false"/>
    <arg name="resolution"  default="0.05"/>

    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server" output="screen">
        <remap from="/cloud_in" to="/laser_cloud_map"/>
        <remap from="/projected_map" to="/map"/>
        <param name="frame_id"    value="$(arg frame_id)" />
        <param name="base_frame_id"    value="$(arg base_frame_id)" />
        <param name="height_map"    value="$(arg height_map)" />
        <param name="sensor_model/max_range"    value="$(arg sensor_model/max_range)" />
        <param name="latch" value="$(arg latch)"/>
        <param name="resolution"    value="$(arg resolution)"/>
        <param name="occupancy_min_z"   value="-1"/>
        <param name="occupancy_max_z"   value="6"/>
        <param name="occupancy_2d_min_z"   value="0.3"/>
        <param name="occupancy_2d_max_z"   value="1"/>
        <param name="filter_ground"	value="false"/>
        <param name="pointcloud_min_z"   value="-1"/>
        <param name="pointcloud_max_z"   value="6"/>
        <param name="max_depth"   value="40"/>
    </node>

</launch>