 <launch>
    <arg name="map_name" default="arco_test"/>
    <arg name="static_map_file" default="$(find marsupial_optimizer)/maps/arco/$(arg map_name)"/>

    
    <!-- Start with arco Simulation -->
    <include file="$(find marsupial_optimizer)/launch/simulation/arco_simulation.launch"/>

    <!-- a-loam -->
    <include file="$(find marsupial_optimizer)/launch/simulation/aloam.launch" />

    <!-- Octomap server for bt-->
	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server_full_node" output="screen" args="$(arg static_map_file).bt">
		<param name="base_frame_id" value="arco/base_link"/>
		<param name="frame_id" value="map"/>
	</node>

    <!-- Map server 2D -->
     <node pkg="map_server" type="map_server" name="map_server_node" args="$(arg static_map_file).yaml" output="screen">
    </node>

</launch>