<?xml version='1.0'?>
<model>
  <name>Pionner3at Marsupial</name>
  <version>1.0</version>
  <!-- <sdf version='1.5'>model-1_3.sdf</sdf>
  <sdf version='1.5'>model-1_4.sdf</sdf> -->
  <sdf version='1.5'>pionner3at.sdf</sdf>
  <!-- <sdf version='1.5'>marsupial.sdf</sdf> -->

  <author>
    <name>Simon Martinez Rozas</name>
    <email>s.martinez.r@iee.org</email>
  </author>
  <description>
    Theter Marsupial Robot Pionner and ARDrone
  </description>
</model>
