<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="world_name" default="stage_1"/>
  <arg name="paused" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="debug" default="false"/> 
  <arg name="verbose" default="false"/> 
  <arg name="pub_tf"  default="true"/>
  <!-- <env name="GAZEBO_MODEL_PATH" value="$(find mbzirc_simulator)/models:$(optenv GAZEBO_MODEL_PATH)"/> -->
  <!-- <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find mbzirc_simulator)/models"/> -->
  
  <include file="$(find marsupial_optimizer)/launch/empty_world.launch">
    <arg name="world_name" value="$(find marsupial_optimizer)/worlds/$(arg world_name).world"/>
    <arg name="paused" value="$(arg paused)"/>
	  <arg name="gui" value="$(arg gui)"/>
    <!--<arg name="headless" value="true"/>-->
    <arg name="debug" value="$(arg debug)"/>
    <arg name="verbose" value="$(arg verbose)"/>
    <arg name="pub_tf" value="$(arg pub_tf)"/>
  </include>

</launch>