<launch>

    <!-- Loading Arguments -->
    <arg name="stage_number"        default="1"/>
    <arg name="num_pos_initial"         default="1"/>
    <arg name="num_goal"         default="0"/>
    <arg name="pos_uav_above_ugv"         default="1.0"/> #meters UAV above UGV
    <arg name="use_catenary_planning" default="false"/>


    <rosparam command="load" file="$(find marsupial_g2o)/cfg/stage_$(arg stage_number).yaml" />
    <arg name="map_file" default="stage_$(arg stage_number)"/>

    <!-- Publishing UGV and UAV tf -->
    <node pkg="marsupial_g2o" type="optimizer_publisher_tf_node" name="optimizer_publisher_tf_node" output="screen">
        <param name="num_pos_initial" value="$(arg num_pos_initial)"/>
        <param name="pos_uav_above_ugv" value="$(arg pos_uav_above_ugv)"/>
        <param name="uav_base_frame" value="uav_base_link"/>
        <param name="ugv_base_frame" value="ugv_base_link"/>
    </node>

    <!-- Publishing static tf -->
    <node pkg="tf" type="static_transform_publisher" name="map" args="0 0 0 0 0 0  world /map 10"/> # x y z y p r
    <node pkg="tf" type="static_transform_publisher" name="reel_base_link" args="0.4 0.0 0.22 -0.0 0.0 0.0  /ugv_base_link /reel_base_link 10"/> # x y z y p r

    <!-- Launch Octomap of Scenario -->
    <include file="$(find marsupial_g2o)/launch/octomap_server.launch">
        <arg name="map_file"  value="$(arg map_file)"/>    
    </include>

    <!-- Launch Optimizer and Global Planner-->
    <node pkg="timed_roslaunch" type="timed_roslaunch.sh" name="planner_sim" output="screen" 
    args="4 marsupial_g2o 3d_global_and_optimizer_local_planner.launch use_catenary_planning:=$(arg use_catenary_planning) stage_number:=$(arg stage_number) num_pos_initial:=$(arg num_pos_initial) num_goal:=$(arg num_goal)"/>
        
    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find marsupial_g2o)/viz/marsupial.rviz" output="screen"/>   -->
</launch>