<launch>


    <node pkg="marsupial_g2o" type="marsupial_node" name="marsupial_node" output="screen" launch-prefix="gdb -ex run --args">
        <!-- <rosparam command="load" file="$(find marsupial_g2o)/cfg/uav_optimization_trayectory.yaml"/> -->

        <param name="X1" value="13.0"/>    <!-- Initial Position X -->
        <param name="Y1" value="6.0"/>   <!-- Initial Position Y --> 
        <param name="Z1" value="7.0"/>    <!-- Initial Position Z --> 
        <param name="X2" value="6.8"/>   <!-- Final Position X -->  
        <param name="Y2" value="6.0"/>    <!-- Final Position Y --> 
        <param name="Z2" value="7.0"/>    <!-- Final Position Z --> 
        
        <param name="w_alpha"   value="0.8"/>   <!-- distance-vertex 5.44--> 
        <param name="w_gamma"   value="0.8"/>   <!-- distance-xyz 5.16-->
        <param name="w_epsilon" value="0.8"/>   <!-- equi-distance 4.78-->

        <param name="w_beta"    value="0.2"/>   <!-- obstacles 27.71-->
        <param name="w_iota"    value="0.4"/>   <!-- obstacles through -->

        <param name="w_delta"   value="1.0"/>   <!-- kinematics 5.52-->
        
        <param name="w_zeta"    value="0.0"/>   <!-- time -->
        <param name="w_eta"     value="0.0"/>   <!-- velocity -->
        <param name="w_theta"   value="0.00"/>   <!-- acceleration -->
        
        <param name="n_iter_opt"    value="1"/>   <!-- number max. of iterations per optimization --> 
        <param name="n_time_optimize"    value="50"/>   <!-- number to execute loop for to optimize --> 
        <param name="td_"    value="1.0"/>   <!-- Time Duration --> 
        <param name="n_vert_unit"   value="8"/>     <!-- number of vertices per length unit -->  
        
        <param name="bound"         value="2.0"/>     
        <param name="velocity"      value="1.0"/>    
        <param name="acceleration"  value="0.0"/>    
        <!-- <param name="angle"         value="M_PI / 15.0"/>   -->
    </node>

    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find theta_star)/viz/mbzirc.rviz" output="screen"/>   -->
</launch>